@import "/src/styles/variables.scss";

body {
  .mainContainer {
    display: block;
  }
  .closeBtn {
    top: 5px;
    right: 5px;
    border-radius: $border-radius;
    background-color: transparent;
    transition: background-color $timer-hover;
    &:focus-visible {
      background-color: var(--color-lightgray);
    }
  }
  .wrapper {
    max-width: 300px;
    height: 100%;
    min-height: rem(100);
    max-height: 100vh;
    padding: 40px $scrollbar-margin;
    background-color: var(--color-background);
    @media (max-width: ($media-ms)) {
      max-width: 100%;
    }
  }
  .content {
    padding: 0 var(--container-padding-horizontal);
    max-height: calc(96vh - 80px);
  }
}
