@import "/src/styles/variables.scss";

._ {
  --content-width: 1560px;
  --padding-horizontal: 24px;
  --padding-vertical: 30px;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content;
  overflow: hidden;
  background-color: var(--color-background);
  @media (max-width: $media-mobile) {
    --padding-horizontal: 16px;
  }
}
.header {
  grid-row: 1;
  grid-column: span 2;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
  background-color: var(--color-secondary);
  border-bottom: solid 1px var(--color-borders);
  @media (max-width: $media-tablet) {
    background-color: var(--color-white);
    border-color: transparent;
  }
}
.sidebar {
  grid-row: 2;
  grid-column: 1;
  position: relative;
  z-index: 201;
  background-color: lime;
}
.main {
  grid-row: 2;
  grid-column: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.footer,
.content {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
}
.content {
  flex-grow: 1;
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: calc(
    var(--padding-horizontal) + var(--content-width) + var(--padding-horizontal)
  );
  height: 100%;
  .content & {
    padding-top: var(--padding-vertical);
    padding-bottom: var(--padding-vertical);
  }
}

// .technicalAlert {
//   grid-column: span 2;
//   position: relative;
//   z-index: 299;
//   @media (max-width: ($media-tablet)) {
//     z-index: 9;
//   }
// }
