@import "/src/shared/styles/variables.scss";

$timer-spinner: $timer-hover;

._ {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity $timer-spinner, visibility $timer-spinner;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0.5;
  }
}
.wrapper {
  position: relative;
  overflow: hidden;
  color: var(--color-darkgray);
  width: 30px;
  height: 30px;
  .small & {
    width: 18px;
    height: 18px;
  }
  .icon {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    animation: spinner 1s linear infinite;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
