@import "/src/shared/styles/variables.scss";

._ {
  display: flex;
  font-size: 16px;
  min-height: em(19);
  &.success {
    color: var(--color-success);
  }
  &.error {
    color: var(--color-danger);
  }
}
.hidden {
  .icon,
  .text {
    visibility: hidden;
  }
}
body .icon {
  flex: 0 0 auto;
  margin-right: em(3);
  width: em(16);
  height: em(16);
}
.text {
  margin-top: em(2);
  font-size: em(14);
  line-height: 1.2;
}
