@import "/src/shared/styles/variables.scss";

._ {
  width: 100%;
  padding: 2px var(--container-padding-horizontal);
  background-color: var(--color-background);
  box-shadow: 0 0 0 1px var(--color-borders);
  color: var(--color-midgray);
  p {
    text-align: center;
    font-size: 14px;
    @media (max-width: ($media-mobile)) {
      font-size: 12px;
    }
  }
}
