$media-offset: 3;

// desktop
$media-dxl: 3840 - $media-offset;
$media-dl: 2560 - $media-offset;
$media-d: 1920 - $media-offset;
$media-ds: 1600 - $media-offset;
$media-dxs: 1366 - $media-offset;

// tablet
$media-tl: 1280 - $media-offset;
$media-t: 1024 - $media-offset;
$media-ts: 960 - $media-offset;

// mobile
$media-mxl: 782 - $media-offset;
$media-ml: 600 - $media-offset;
$media-m: 480 - $media-offset;
$media-ms: 360 - $media-offset;

// simple
$media-desktop: $media-d;
$media-tablet: $media-tl;
$media-mobile: $media-mxl;

// height breakpoints
$media-h: 1024 - $media-offset;
