@import "/src/styles/variables.scss";

._ {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.techAlert {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: var(--color-background);
  box-shadow: 0 0 0 1px var(--color-borders);
}
.main {
  flex: 1 1 100%;
  display: flex;
  overflow: hidden;
  @media (min-width: ($media-desktop+1+px)) {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        var(--color-build-variant) 50%,
        var(--color-background) 50%
      );
    }
  }
  @media (max-width: ($media-mobile+px)) {
    flex-direction: column;
  }
}
.info {
  position: relative;
  z-index: 2;
  padding: 10px 30px;
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  text-align: center;
  color: var(--color-text-light);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-build-variant);
    border-radius: 0 40% 0 0;
  }
  @media (max-width: ($media-mobile+px)) {
    flex-basis: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    &:before {
      border-radius: 0 0 10% 10%;
    }
  }
}
.content {
  position: relative;
  flex: 1 1 60%;
  background-color: var(--color-build-variant);
  @media (min-width: ($media-mobile+1+px)) {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: var(--color-background);
      border-radius: 0 0 0 50%;
    }
  }
  @media (max-width: ($media-mobile+px)) {
    flex-basis: auto;
    overflow: hidden;
    background-color: var(--color-background);
  }
}
.scrollContainer {
  margin-right: 2px;
  padding: 10px var(--container-padding);
  position: relative;
  z-index: 2;
  height: 100%;
  overflow-y: auto;
  @include custom-scrollbar();
}
.container {
  margin: 0 auto;
  max-width: 200px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
