@import "/src/styles/variables.scss";

._ {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  @media (max-width: ($media-mobile+px)) {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }
}
.info,
.content {
  padding: 10px;
}
.info {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
}
.content {
  flex: 1 1 60%;
  overflow: auto;
}
.container {
  margin: 0 auto;
  max-width: 200px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
