@import '/src/styles/variables.scss';

.container {
  height: 68px;
  display: flex;
  align-items: center;
  @media (max-width: $bp-mobile) {
    height: 110px;
    padding-top: 60px;
    justify-content: center;
    align-items: flex-start;
  }
}
body .logo {
  margin-left: 10px;
}
