@import "/src/shared/styles/variables.scss";

.wrapper {
  position: relative;
  min-width: em(100);
  border-radius: em($border-radius);
  overflow: hidden;
  transition: border-color $timer-hover;
  font-size: 16px;
  @media (max-width: ($media-mobile)) {
    font-size: 14px;
  }
}
body .input {
  padding-right: em(50);
  width: 100%;
}
.controlls {
  position: absolute;
  top: em(1);
  right: em(1);
  width: em(45);
  height: calc(100% - em(2));
  display: flex;
  flex-direction: column;
  & > * {
    font-size: 0;
    height: 50%;
    background-color: transparent;
    color: var(--color-midgray);
    fill: var(--color-midgray);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color $timer-hover, border-color $timer-hover,
      color $timer-hover, fill $timer-hover;
    .icon {
      width: 80%;
      height: 80%;
      transform: rotate(-90deg);
    }
    border-width: rem(1);
    border-color: var(--color-borders);
    &:first-child {
      transform: rotate(180deg);
      border-right-style: solid;
    }
    &:last-child {
      border-top-style: solid;
      border-left-style: solid;
    }
    &:disabled {
      background-color: var(--color-lightgray);
      color: var(--color-borders);
      fill: var(--color-borders);
      cursor: default;
    }
  }
}
