@import "/src/styles/variables.scss";

._ {
  width: 250px;
  padding-bottom: 32px;
  transition: width $timer-sidebar;
  &.collapsed {
    width: 50px;
  }
  @media (max-width: ($media-tablet+px)) {
    width: 200px;
  }
}
.toggleButton {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  background-color: transparent;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.icon {
  width: 100%;
  height: 100%;
  color: var(--color-midgray);
  transform: scaleX(1);
  transition: transform $timer-sidebar;
  .collapsed & {
    transform: scaleX(-1);
  }
}
