@import "/src/styles/variables.scss";

.wrapper {
  margin: 0 auto;
  max-width: 400px;
}
.title {
  margin-bottom: 30px;
  text-align: center;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  // width: calc(
  //   100vw - var(--container-padding-horizontal) -
  //     var(--container-padding-horizontal)
  // );
  // max-width: 400px;
}
.input:not(:first-child) {
  margin-top: 15px;
}
.message {
  margin-top: 5px;
}
.globalMessage {
  margin-top: 15px;
}
.buttons {
  align-self: center;
  margin-top: 15px;
  display: inline-flex;
  flex-direction: column;
}
body .button:not(:first-child) {
  margin-top: 15px;
  min-width: 150px;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
